<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>ログイン</h1>
	</header>
	<main>
		<form action="/login" method="post">
			<input type="email" name="email" placeholder="メールアドレス" required maxlength="50"><br>
			<input type="password" name="password" placeholder="パスワード" pattern="^[a-zA-Z0-9]+$" maxlength="20"><br>
			<button>ログイン</button>
			<br> <span th:text="${message}" style="color: red"></span>
		</form>
		<a href="/users/add">新規登録</a>
	</main>
</body>
</html>
