<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="align-items-center py-5 bg-body-tertiary w-100 p-3">
<nav class="navbar navbar-default navbar-fixed-top">
 	<div class="container">
		<h1>TODOリスト</h1>
    	<div class="navbar-header text-right">
			<span  th:text="${@account.name}+' さんがログイン中'"></span>
			<a href="/logout">ログアウト</a>
		</div>
	</div>
</nav>

	<div class="w-100 p-5" style="background-color: #eee;">
		<div class="d-flex">
			<a class="btn btn-primary pull-left" href="/tasks/add" role="button">新規登録</a>
			<form th:action="@{/tasks}" method="get" class="d-flex w-50 m-auto" role="search">
				<input class="form-control" type="search" name="keyword" placeholder="タスク名" aria-label="検索" th:value="${keyword}" maxlength="50">
				<button class="btn btn-primary" type="submit">検索</button>
			</form>
		</div>
		<div class="position-relative w-100 p-75 mt-5 mb-3 text-center">

			<a class="mr-2" href="/tasks">全カテゴリー</a>
			<a th:each="c:${categories}" th:href="'/tasks?categoryId='+${c.id}">
				<span th:text="${c.name}" style="padding-left: 25px;">
				</span>
			</a>
						

		</div>
		<h2 class="text-center" th:if="${tasks.size() == 0 }">タスクがありません</h2>
		<div class="w-100 p-5">
			<table class="table table-hover text-center" style="height: 100px;" id="sortTable" th:if="${tasks.size() > 0 }">
				<thead>
					<tr>
						<th>タイトル</th>
						<th>カテゴリー</th>
						<th>期限</th>
						<th>重要度</th>
						<th>進捗状況</th>
<!--						<th>-->
<!--							<span class="d-flex">期限-->
<!--								<form action="/tasks">-->
<!--									<input type="submit" value="△" class="ascBtn">-->
<!--									<input type="hidden" name="sort" value="lim">-->
<!--								</form>-->
<!--								<form action="/tasks">-->
<!--									<input type="submit" value="▽" class="descBtn">-->
<!--									<input type="hidden" name="sort" value="mil">-->
<!--								</form>-->
<!--							<span>-->
<!--						</th>-->
<!--						<th>-->
<!--							<span class="d-flex">重要度-->
<!--								<form action="/tasks">-->
<!--									<input type="submit" value="△" class="ascBtn">-->
<!--									<input type="hidden" name="sort" value="imp">-->
<!--								</form>-->
<!--								<form action="/tasks">-->
<!--									<input type="submit" value="▽" class="descBtn">-->
<!--									<input type="hidden" name="sort" value="pmi">-->
<!--								</form>-->
<!--							</span>-->
<!--						</th>-->
<!--						<th>-->
<!--							<span class="d-flex">進捗状況-->
<!--								<form action="/tasks">-->
<!--									<input type="submit" value="△" class="ascBtn">-->
<!--									<input type="hidden" name="sort" value="prog">-->
<!--								</form>-->
<!--								<form action="/tasks">-->
<!--									<input type="submit" value="▽" class="descBtn">-->
<!--									<input type="hidden" name="sort" value="gorp">-->
<!--								</form>-->
<!--							</span>-->
<!--						</th>-->
<!--					</tr>-->
				</thead>
				<tbody>
<!--					onclick="|location.href='@{"/tasks/" + ${task.id} + "/detail"}'|"-->
					<tr th:each="task : ${tasks}" >
						<td>
							<a th:href="@{'/tasks/' + ${task.id} + '/detail'}" th:text="${task.title}"></a>
						</td>
						<td th:each="cmap : ${categoryMap}" th:if="${cmap.key} == ${task.categoryId}" th:text="${cmap.value}">
						</td>
						<td th:class="${#lists.contains(limitTask,task)} ? 'text-danger'" th:text="${task.limitDate}" >
						</td>
						<td th:each="imap : ${importanceMap}" th:if="${imap.key} == ${task.importance}" th:text="${imap.value}">
						</td>
						<td th:each="pmap : ${progressMap}" th:if="${pmap.key} == ${task.progress}" th:text="${pmap.value}">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>