<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク新規作成</title>
</head>
<body>
	<h1>タスク新規作成</h1>
	<form action="/tasks/add" method="post">
		<table border="1">
			<tr>
				<th>カテゴリー</th>
				<td>
				  <input type="radio" id="categoryId" name="categoryId" value="0" />
			
			      <input type="radio" id="categoryId" name="categoryId" value="1"/>
			
			      <input type="radio" id="categoryId" name="categoryId" value="2"/>
		
				</td>
			</tr>
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" name="title">
				</td>
			</tr>
			<tr>
				<th>期限</th>
				<td>
					<input type="date" name="limitDate">
				</td>
			</tr>
			<tr>
				<th>重要度</th>
				<td>
					<input type="radio" id="importance" name="importance" value="0"/>
				
				    <input type="radio" id="importance" name="importance" value="1"/>
			
				    <input type="radio" id="importance" name="importance" value="2"/>
				</td>
			</tr>
			<tr>
				<th>進捗状況</th>
				<td>
					<input type="radio" id="progress" name="progress" value="0"/>
				
				    <input type="radio" id="progress" name="progress" value="1"/>
			
				    <input type="radio" id="progress" name="progress" value="2"/>
				</td>
			</tr>
			<tr>
				<th>メモ</th>
				<td>
					<input type="text" name="memo">
				</td>
			</tr>
		</table>
		<button>登録</button>
	</form>
</body>
</html>