<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザ新規作成</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>ユーザ新規作成</h1>
	<form action="/users/add" method="post">
		
		<ul th:if="${errorList}" class="error">
			<li th:each="error:${errorList}" th:text="${error}" style="color: red"></li>
		</ul>
		
		<table border="1">
			<tr>
				<th>ニックネーム(20文字以内)</th>
				<td>
					<input type="text" name="name" required pattern=".*[^\s]+.*" maxlength="20">
				</td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td>
					<input type="email" name="email" required pattern=".*[^\s]+.*" maxlength="50">
				</td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td>
					<input type="text" name="password"  pattern="^[a-zA-Z0-9]+$" maxlength="20">
				</td>
			</tr>
			<tr>
				<th>パスワード(確認)</th>
				<td>
					<input type="text" name="password_confirm" pattern="^[a-zA-Z0-9]+$" maxlength="20">
				</td>
			</tr>
		</table>
		<button>登録</button>
</body>
</html>